# Rider
.idea/
*.sln.iml

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.app
*.so
*.dylib
*.nupkg
*.log

# NuGet
*.nuget/
packages/
project.lock.json
project.assets.json
*.nuspec
*.snupkg

# .NET
*.vsconfig
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
.env
